*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #54483a;
  background: #f9f7f6;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
}
a:hover {
  color: currentColor;
}

.btns {
  border: none;
  background: transparent;
  text-transform: capitalize;
  padding: 0.5rem;
  background: #c69963;
  border: 1px solid #101d2c;
  transition: 0.2s;
}
.btns:hover {
  background: transparent;
}

.heading-2 {
  text-transform: capitalize;
  font-size: 4rem;
  padding-top: 3rem;
  text-align: center;
  font-weight: bolder;
}
@media screen and (max-width: 37.5em) {
  .heading-2 {
    font-size: 3.5rem;
  }
}

.heading-4 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #101d2c;
  transition: all 0.2s;
  margin: 1.5rem 0 0.5rem 0;
}
@media screen and (max-width: 37.5em) {
  .heading-4 {
    font-size: 1.6rem;
  }
}

.heading-5 {
  font-size: 2rem;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.heading-6 {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  background-color: rgba(198, 153, 99, 0.2);
  display: inline-block;
  padding: 1rem;
  margin-top: 2.5rem;
  border-radius: 10rem;
  color: #101d2c;
  font-weight: 700;
}

.blog__div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  margin: 5rem;
}
@media screen and (max-width: 37.5em) {
  .blog__div {
    margin: 2rem;
  }
}
.blog__card {
  background: hsl(7, 56%, 91%);
  box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  margin: 3rem 0;
  font-family: "Josefin Sans", sans-serif;
}
.blog__padding--div {
  padding: 0 2rem;
}
.blog__img {
  width: 100%;
}
.blog__details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.6rem;
}
.blog__footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  border-top: 1px solid #b28451;
  margin-top: 3rem;
  padding-top: 1.5rem;
}
.blog__link {
  color: #b28451;
}
.blog__mainnav {
  display: block;
  text-align: center;
  margin: 4rem;
  font-size: 2rem;
  color: #c69963;
}

.footer {
  background: #101d2c;
  padding: 3rem;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
  place-items: center;
}
.footer__item {
  list-style: none;
}
.footer__links {
  text-decoration: none;
  color: hsl(192, 24%, 96%);
  display: inline-block;
  padding: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s;
}
.footer__links:hover {
  background: rgba(237, 237, 237, 0.2);
  color: hsl(192, 24%, 96%);
  transform: translateY(-5px);
}
.footer__copyright {
  color: hsl(192, 24%, 96%);
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
@media screen and (max-width: 50em) {
  .footer__links, .footer__copyright {
    font-size: 1.4rem;
  }
}

.formreal {
  background: rgba(198, 153, 99, 0.2);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 2rem 0;
}
@media screen and (max-width: 65.5em) {
  .formreal {
    grid-template-columns: 1fr;
  }
}
.formreal__main-form {
  box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  margin: 4.5rem;
}
@media screen and (max-width: 37.5em) {
  .formreal__main-form {
    margin: 2rem;
  }
}
.formreal__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  padding: 2rem 6rem;
}
@media screen and (max-width: 37.5em) {
  .formreal__form {
    padding: 2rem;
  }
}
.formreal__heading {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  color: #101d2c;
  margin: 4rem 0 1.5rem 0;
  padding-top: 2rem;
}
@media screen and (max-width: 37.5em) {
  .formreal__heading {
    font-size: 3.5rem;
  }
}
.formreal__input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  border: 2px solid #c69963;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
  border-radius: 0.7rem;
}
.formreal__input:focus {
  outline: none;
}
.formreal__form-btn {
  width: 79%;
  display: block;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  background: rgba(198, 153, 99, 0.2);
  color: #101d2c;
  padding: 1rem 0;
  border: none;
  border-radius: 0.7rem;
  margin: 3rem auto;
  transition: 0.2s;
}
.formreal__form-btn:hover {
  background: #b28451;
}
.formreal__img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20%;
  display: block;
  margin-bottom: 3rem;
}
.formreal__realtors {
  box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  padding: 0.5rem 4rem;
  margin: 4.5rem;
}
@media screen and (max-width: 37.5em) {
  .formreal__realtors {
    margin: 2rem;
    padding: 2rem;
  }
}
.formreal__realtors--div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
}
@media screen and (max-width: 37.5em) {
  .formreal__realtors--div {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
.formreal__realtors--details {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.formreal__realtors--name {
  font-size: 2rem;
}

.gallery {
  background: rgba(198, 153, 99, 0.2);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 5vw);
  gap: 0.7rem;
  padding: 1rem;
}
.gallery__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__img--1 {
  grid-column: 1/3;
  grid-row: 1/4;
}
.gallery__img--2 {
  grid-column: 1/2;
  grid-row: 4/5;
}
.gallery__img--3 {
  grid-column: 6/8;
  grid-row: 3/5;
}
.gallery__img--4 {
  grid-column: 3/4;
  grid-row: 1/4;
}
.gallery__img--5 {
  grid-column: 2/4;
  grid-row: 4/5;
}
.gallery__img--6 {
  grid-column: 6/8;
  grid-row: 1/3;
}
.gallery__img--7 {
  grid-column: 4/6;
  grid-row: 1/5;
}

.header {
  width: 100%;
  background: rgba(198, 153, 99, 0.2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(39%, 1fr));
  -moz-column-gap: 15rem;
       column-gap: 15rem;
  place-items: center;
  padding: 7rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 37.5em) {
  .header {
    padding: 2rem;
  }
}
.header__smalltext {
  font-size: 1.6rem;
  color: #c69963;
}
@media screen and (max-width: 50em) {
  .header__smalltext {
    font-size: 1.6rem;
  }
}
.header__heading {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bolder;
  color: #b28451;
}
@media screen and (max-width: 62.5em) {
  .header__heading {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 50em) {
  .header__heading {
    font-size: 2rem;
  }
}
@media screen and (max-width: 37.5em) {
  .header__heading {
    font-size: 3.5rem;
  }
}
.header__subheading {
  font-size: 2rem;
  border-left: 1.17px solid #c69963;
  padding-left: 1.5rem;
  line-height: 3.5rem;
  margin: 2rem 0 4rem 0;
}
@media screen and (max-width: 62.5em) {
  .header {
    font-size: 2rem;
  }
}
@media screen and (max-width: 37.5em) {
  .header {
    font-size: 2rem;
  }
}
.header__btn {
  border: 2px solid #101d2c;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 37.5em) {
  .header__btn {
    font-size: 1.6rem;
  }
}
.header__img {
  width: 100%;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  box-shadow: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  border: 1px solid rgba(198, 153, 99, 0.2);
}

.toplinks {
  background: #101d2c;
  color: #c69963;
  padding: 1.5rem 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  place-items: center;
  font-size: 1.6rem;
  text-transform: capitalize;
}
@media screen and (max-width: 37.5em) {
  .toplinks {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    font-size: 1.4rem;
    padding: 1.5rem 2.5rem;
  }
}
.toplinks__socials {
  font-size: 2rem;
  color: #c69963;
}
.toplinks__socials:hover {
  color: #b28451;
}
.toplinks__link {
  color: #c69963;
  transition: all 0.2s;
}
.toplinks__link:hover {
  color: #b28451;
}
.toplinks__btn {
  position: relative;
  color: hsl(192, 24%, 96%);
  z-index: 100;
}
.toplinks__btn:hover {
  border: 1px solid #c69963;
}
@media screen and (max-width: 37.5em) {
  .toplinks {
    gap: 1.5rem;
  }
}

.mainnav {
  position: sticky;
  top: 0;
  left: 0;
  background: #b28451;
  color: #101d2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 7rem;
  z-index: 10000;
}
.mainnav__logo {
  flex: 1;
  font-size: var(2rem);
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
}
.mainnav__nav {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex: 1;
}
.mainnav__link {
  color: #101d2c;
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.2s;
}
.mainnav__link:hover {
  box-shadow: 2px 2px 2px #c69963;
}
@media screen and (max-width: 62.5em) {
  .mainnav__link {
    font-size: 1.6rem;
  }
}
.mainnav__socials {
  color: #c69963;
  text-align: end;
  flex: 1;
}
.mainnav__social {
  background: #101d2c;
  color: #c69963;
  font-size: 2rem;
  display: inline-block;
  padding: 0.4rem 1rem;
  margin: 0.4rem;
  box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  transition: all 0.3s;
}
.mainnav__social:hover {
  background: #c69963;
  color: #101d2c;
  box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
}
@media screen and (max-width: 50em) {
  .mainnav {
    display: none;
  }
}

.smallnav,
.navbar {
  background: #c69963;
  grid-column: 1/-1;
}
@media screen and (min-width: 50em) {
  .smallnav,
  .navbar {
    display: none;
  }
}

.mainnav__icons--text {
  margin-bottom: -0.3rem;
  font-size: 1.4rem;
  color: hsl(0, 0%, 0%);
}

.dropdown-menu {
  background: #b28451;
}

.splide__slide--img-container img {
  width: 100%;
  display: block;
  position: relative;
}

.properties {
  margin: 3rem;
}
@media screen and (max-width: 37.5em) {
  .properties {
    margin: 0.3rem;
  }
}
.properties__heading {
  margin-bottom: 5rem;
}

.splide__slide {
  background: hsl(8, 100%, 97%);
  color: hsl(229, 17%, 19%);
  box-shadow: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
}
.splide__slide--type {
  position: absolute;
  height: auto;
  width: auto;
  top: 0;
  right: 1rem;
  margin: 2rem;
  padding: 0.5rem 1rem;
  text-align: end;
  font-size: 1.4rem;
  text-transform: capitalize;
  background: hsl(8, 100%, 97%);
}
.splide__slide--location {
  position: absolute;
  height: auto;
  width: auto;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: hsl(192, 24%, 96%);
  background: linear-gradient(to right bottom, rgba(178, 132, 81, 0.6), rgba(198, 153, 99, 0.6));
  margin: 0 1rem;
  font-weight: 700;
  transform: translateY(-3rem);
}
.splide__slide--price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0.5rem 0;
  color: hsl(9, 100%, 62%);
}
.splide__slide--price a {
  font-size: 2.5rem;
  padding: 0 2.5rem;
  color: hsl(9, 100%, 62%);
}
.splide__slide--heading-5 {
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 0 2rem;
  margin: 1rem 0;
  padding: 0 2.5rem;
}
.splide__slide--text {
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 0 2.5rem;
}
.splide__slide--facilities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 0 2.5rem;
  margin-bottom: 0.7rem;
}
.splide__slide--facilities aside:not(:last-child) {
  border-right: 1px solid hsl(229, 17%, 19%);
  padding-right: 1.5rem;
}
.splide__slide--realtor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #aaa;
  padding: 0.7rem 1.5rem;
  margin-top: 2rem;
  margin-bottom: -1.8rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.splide__slide--realtor-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.splide__slide--realtor-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.3rem;
  margin-top: -1.3rem;
}
.splide__slide--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.splide__slide--contact-info {
  color: #c69963;
}
.splide__slide--contact-info a {
  color: hsl(229, 17%, 19%);
  font-size: 1.6rem;
}
.splide__slide--contact-info a:not(:last-child) {
  margin-right: 1rem;
}

.services {
  background: rgba(198, 153, 99, 0.2);
  margin-bottom: 5rem;
}

.service {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}
@media screen and (max-width: 37.5em) {
  .service {
    padding: 2rem;
  }
}
.service__img {
  margin-top: 3rem;
}
.service__card {
  padding: 0 3.5rem;
  background: hsl(0, 0%, 100%);
  transition: all 0.3s;
  box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  text-align: center;
}
.service__text {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 2rem;
}
.service__link {
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  color: #54483a;
  font-weight: bolder;
  transition: all 0.2s;
  margin: 2rem 0 2.5rem 0;
}
.service__link:hover {
  color: hsl(9, 100%, 62%);
}

.card {
  display: grid;
  justify-items: start;
  align-items: end;
  position: relative;
}
.card::before {
  content: "";
  height: 3px;
  width: 3px;
  position: absolute;
  transform: scaleY(0);
  border-bottom: 5px solid #c69963;
  transition: transform 0.1s, width 0.1s cubic-bezier(1, 0, 0, 1) 0.1s;
}
.card:hover::before {
  width: 100%;
  transform: scale(1);
}

.card:hover .service__link {
  color: #c69963;
}

.about-us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(39%, 1fr));
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  margin: 10rem 5rem;
}
@media screen and (max-width: 37.5em) {
  .about-us {
    padding: 0 1rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 75em) {
  .about-us__img {
    display: none;
  }
}
.about-us__image {
  width: 100%;
  display: grid;
  display: block;
}
.about-us__image-2 {
  width: 50%;
  margin-top: -30rem;
}
.about-us__main-heading {
  text-align: start;
}
.about-us__maintext {
  font-size: 1.6rem;
  margin: 1rem 0;
}
@media screen and (max-width: 75em) {
  .about-us__maintext {
    font-size: 2rem;
  }
}
@media screen and (max-width: 37.5em) {
  .about-us__maintext {
    font-size: 1.6rem;
  }
}
.about-us__icon-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  font-size: 1.6rem;
  margin: 3rem 0;
}
.about-us__icon-div i {
  background: rgba(198, 153, 99, 0.2);
  color: #b28451;
  padding: 1rem;
  border-radius: 50%;
}
@media screen and (max-width: 75em) {
  .about-us__icon-div {
    font-size: 2rem;
  }
}
@media screen and (max-width: 37.5em) {
  .about-us__icon-div {
    font-size: 1.6rem;
  }
}
.about-us__icon-items {
  margin-bottom: 1.5rem;
}
.about-us__subtext {
  font-size: 1.6rem;
  background: rgba(198, 153, 99, 0.2);
  padding: 1.5rem;
  border-left: 3px solid #b28451;
  margin-top: 2.5rem;
}
.about-us__subtext i {
  color: #b28451;
}
.about-us__subtext i:not(:last-child) {
  margin-right: 0.3rem;
}
@media screen and (max-width: 75em) {
  .about-us__subtext {
    font-size: 2rem;
  }
}
@media screen and (max-width: 62.5em) {
  .about-us__subtext {
    max-width: 95%;
    font-size: 2rem;
  }
}
@media screen and (max-width: 37.5em) {
  .about-us__subtext {
    font-size: 1.6rem;
  }
}
.about-us__btn {
  margin: 1.5rem 0;
  padding: 1rem;
  border: 2px solid #101d2c;
  font-size: 2rem;
}
@media screen and (max-width: 75em) {
  .about-us__btn {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 62.5em) {
  .about-us__btn {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */